.order{
    width:100%;
    /*height:500px;*/
    float:left;
    background:#f5f5f5;
    height:100%;
    padding-bottom:30px;
}

.order-top{
    height:75px;
    line-height:75px;
    width:1240px;
    background:#fff;
    margin-top:10px;
}
.order-top span{
    font-size:24px;
    padding:22px;
    padding-left:50px;
}
.order-address{
    width:1240px;
    margin-top:20px;
    background:#fff;
    height:230px;
}
.order-address-title{
    height:75px;
    height:75px;
    line-height:75px;
    width:1140px;
    margin:0 auto;
    border-bottom:1px solid #EFEFEF;

}
.order-address-main{
    margin-top:30px;

}
.order-address-title span{
    padding:22px 0;
    font-size:22px;
}
.order-address-input{
    height:38px;
    line-height:38px;
    width:1140px;
    margin:0 auto;
}
.order-address-input div{
    display:inline-block;
    height:38px;
    line-height:38px;
    width:158px;
    border:1px solid #EFEFEF;
    margin-right:20px;

}
.order-address-input span{
    margin-right:20px;
}
.order-address-input input{
    border:0;
    height:36px;
    width:148px;
    padding:0 5px;
}

.order-address-detail{
    width:1140px;
    margin:30px auto;

}
.order-address-detail div{
    display:inline-block;
    height:38px;
    line-height:38px;
    width:450px;
    border:1px solid #EFEFEF;
    margin-right:20px;

}
.order-address-detail input{
    width:440px;
    border:0;
    height:36px;
    padding:0 5px;
}
.order-address-detail span{
    margin-right:20px;

}

.order-product{
    width:1140px;
    margin-top:20px;
    background:#fff;
    padding:30px 50px;
}
.order-product-title{
    font-size:24px;
    padding:22px;
    padding-left:0;
}
.product-table{
    border:1px solid #efefef;
}
.product-table th,td{
    padding:20px 0;
}
.product-table td{
    border-top:1px solid #efefef;
}
.product-table img{
    float:left;
    margin:0 20px;
    display:inline;
}
.product-table a{
    display:inline;
    float:left;
    line-height:22px;
    padding:20px 0;
}
.order-submit{
    width:1140px;
    margin-top:20px;
    background:#fff;
    padding:30px 50px;
    float:left
}
.order-submit-content{
    float:right;
    width:318px;
}
.order-submit-content span{
    display:block;
}
.content-line{
    width:318px;
    height:20px;
    margin-bottom:20px;
}
.content-line span{
    color:#898989;
}

.order-submit-content a{
    display:inline-block;
    width:100px;
    height:40px;
    background:#00c3f5;
    border-radius:3px;
    text-align:center;
    line-height:40px;
    color:white;
}


.fleft{
    float:left;
}
.fright{
    float:right;
}
